@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="display" id="PeopleListTable"></table>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            var peopleList = $('#PeopleListTable').dataTable({
                bServerSide: true,
                bProcessing: true,
                sServerMethod: "POST",
                sAjaxSource: "@Url.Action("All", "Person")",
                aoColumns: [
                    { mData: "FirstName", sTitle: "First Name" },
                    { mData: "LastName", sTitle: "Last Name"},
                    { mData: "BirthDateFormatted", sTitle: "Birth Date",iDataSort:3 }, //Allow post TSQL server side processing
                    { mData: "BirthDate", bVisible:false },
                    { mData: "Weight", sTitle: "Weight" },
                    { mData: "Height", sTitle: "Height" },
                    { mData: "Children", sTitle: "Children" }

                ]
            });
        });
    </script>


}
